@page
@model Dr_CC_Khan.Pages.InWebPages.EnquiryModel
@{
}

<div>
    <h1>Successful.</h1><br />
    <p>Your message has been successfully sent to Dr Khan.<br /> We wish you a speedy recovery</p>
    <br /><br />
    <div class="offset-sm-3 col-sm-3 d-grid">
        <a class='btn btn-primary btn-sm' href='/InWebPages/Chronic' style="background-color: #99CC00; border-block: 0px">BACK</a>
    </div>
</div>