@page
@model Dr_CC_Khan.Pages.InWebPages.ErrorPageModel
@{
}

<style>
    h1 {
        font-family: Calibri;
    }
    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<h1>ERROR</h1><br />
<h3>Something went wrong.<br />Please try again.</h3>
